extends ../layout

block content
  .row.mt-4
    h1= applicant.name
      small.text-body-secondary.ms-2= applicant.email
  .row.mt-4
    .col-md-3
      .h2= applicant.professional_title
      p.badge.text-bg-secondary=applicant.area_of_expertise
      p.badge.text-bg-secondary=applicant.phone_number
      p 
        | Criado em: 
        i.bi.bi-calendar-week.me-2
        =applicant.created_at?applicant.created_at.toLocaleDateString():''
      p 
        | Atualizado em: 
        i.bi.bi-calendar-week.me-2
        =applicant.updated_at?applicant.updated_at.toLocaleDateString():''
      
    .col-md-6
      h3 Curriculum
      p
        span.badge.text-bg-primary.me-2 CV
        =applicant.cv_pt
      p
        span.badge.text-bg-primary.me-2 Conhecimento Técnico
        =applicant.technical_knowledge